* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../stopwatch/image/Screenshot\ 2022-12-14\ 091429.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: "Arvo", cursive;
    
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,.1);

}

.conatiner {
    font-size: 2rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    
}

.stopwatch {
    font-size: 104px;
    margin-left: 40px;
    color: rgb(10, 1, 1);
    font-family: "Arvo", cursive;
    display: inline;
}
.watch{
    border: 2px solid black;
    
}

.btn {
    outline: none;
    border: 4px solid #404B69;
    font-size: 2.1rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 800;
    color: #fd1003;
    text-shadow: 3px 1px #fbfb03;
    border-radius: 18px;
    display: inline-block;
    width: 147px;
    height: 69px;
    text-align: center;
    margin: 16px;
    background-color: rgb(185, 239, 246);
}
.btn:hover{
    cursor :pointer;
    color:green;
    background: rgb(132, 179, 132);
    border: 4px solid #404B69;
}
.stopwatchvalue {
    font-size: 27px;
    margin-left: 95px;
    color: rgb(10, 1, 1);
    font-family: "Arvo", cursive;
    margin-bottom: -50px;

}

.footer{
    margin-left: 264px;
    padding-top: 360px;
    color: rgb(242, 242, 248);
    font-size: 27.5px;
    font-weight: bolder;
}
.watch{
    outline: none;
    border: 6px solid #404B69;
    font-size: 2.1rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    text-shadow: 3px 1px #fbfb03;
    border-radius: 18px;
    display: inline-block;
    width: 713px;
    height: 175px;
    margin: 19px;
    background-color: rgb(141, 138, 135);
} 
.watch:hover{
    cursor :pointer;
    color:green;
    background: rgb(233, 161, 119);
    border: 6px solid #404B69;
}
